<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
  </head>
  <body>

    <!-- MATERIALIZE -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/components/icon.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- END -->


    <!-- NAV MENU -->

    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper grey darken-4">

          <a href="/" class="brand-logo" style="padding-left: 2em;">4M Labs</a>

          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#"></a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Vídeos</a></li>
            <li><a href="/posts">Blog</a></li>
            <li><a href="#">Proyectos</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>

          <!-- RESPONSIVE MENU -->
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="large material-icons">reorder</i></a>
          <!-- END -->

        </div>
      </nav>
    </div>

    <ul id="slide-out" class="side-nav">
      <div class="collection">
        <a href="#!" class="collection-item blue-text text-lighten-1">Acerca</a>
        <a href="#!" class="collection-item blue-text text-lighten-1">Vídeos</a>
        <a href="/posts" class="collection-item blue-text text-lighten-1">Blog</a>
        <a href="#!" class="collection-item blue-text text-lighten-1">Proyectos</a>
        <a href="#!" class="collection-item blue-text text-lighten-1">Contacto</a>
      </div>
    </ul>

    <!-- END --> 

      <div class="col s9">
        <div class="container">
          <div class="row">
            <div class="col m12">

                {% block content %}
      					{% endblock %}

            </div>

          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
        $(".button-collapse").sideNav();
    </script>

  </body>
</html>
