{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}
 
 {% block content %}

 	<br>

	<h1 class="ui center aligned header">Crear Entrada</h1>

	<form method="POST" action="" class="ui form">
		
		{% csrf_token %}
		{{ form.as_p }}

	<div class="ui buttons">
	    
	    <button type="submit" class="ui inverted blue button">Crear</button>
	    <div class="or"></div>
	    <button class="ui inverted red button cancel">Cancel</button>
	    
  	</div>
		
	</form>

	<script>
		$(".cancel").click(function(){
			$(location).attr('href', '/posts');
		});
	</script>

{% endblock %}