{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

	{% for post in posts %}
		<div class="five wide column">
		
			<div class="ui segment">
			  		<h2 class="ui right floated header"><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></h2>
			  		<br>
			  		<br>
					{% if post.content|length < 500 %}
					<pre><blockquote>{{ post.content}}</blockquote></pre>
					<br>
					{% else %}
					<blockquote>{{ post.content|linebreaks|truncatechars:200 }} </blockquote>
					<br>
					{% endif %}
					<a href='{{ post.get_absolute_url }}'>Ver Mas</a>
			</div>	
		
		</div>
		<br>
	{% endfor %}

{% endblock %}