{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}


{% block content %}


	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}

	<h1>{{ post.title }}</h1>
	<pre><blockquote>{{ post.content}}</blockquote></pre>
	<br>
	Created: {{ post.timestamp }}
	<br>
	Updated: {{ post.updated }}
	<br>
	<br>
	<a href='{{ post.get_absolute_url|add:"edit" }}'>Edit</a>
	<br>
	<a href="{{ post.get_absolute_url|add:'delete' }}">Delete</a>
	</div>
	


{% endblock %}