{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}


{% block content %}


	<div class="ui piled segment">

	{% if messages %}

		{% for message in messages %}

		<br>

		<div class="chip">
			{{ message }}
    	<i class="close material-icons">close</i>
  		</div>

		{% endfor %}

		{% endif %}

	  	<h1 class="centered	">{{ post.title }}</h1>
		<br>
	  	{% autoescape on %}
	  	<p class="flow-text">{{ post.content|safe }}</p>
		{% endautoescape %}
		<br>
		<br>

		<a class="ui blue image label">
  			Created
  		<div class="detail">{{ post.timestamp }}</div>
		</a>
		<a class="ui blue image label">
  			Updated
  		<div class="detail">{{ post.updated }}</div>
		</a>

		<br>
		<br>


		<div class="fixed-action-btn horizontal">
			<a class="btn-floating btn-large black">
			  <i class="material-icons">menu</i>
			</a>
			<ul>
				<li><a href='{{ post.get_absolute_url|add:"edit" }}' class="btn-floating teal tooltipped" data-position="top" data-delay="50" data-tooltip="Editar"><i class="material-icons">mode_edit</i></a></li>
      			<li><a id="erase"><button id="delete" class="btn-floating red tooltipped" data-position="top" data-delay="50" data-tooltip="Borrar""><i class="material-icons">not_interested</i></a></li>

			</ul>
		  </div>

	  	</div>

		<!-- MODALS -->

	  	<div class="ui basic modal delete">
			  <div class="center header">
			    Borrar Entrada
			  </div>
			  <div class="image content">

			    <div class="description">
			      <p>Segur@ que quieres borrar esta entrada ?</p>
			    </div>
			  </div>
			  <div class="actions">
			    <div class="two ui inverted buttons">
			    <div class="ui ok blue basic inverted button">
			        <i class="checkmark icon"></i>
			        Si
			      </div>
			      <div class="ui cancel red basic inverted button">
			        <i class="remove icon"></i>
			        No
			      </div>
			    </div>
			  </div>
			</div>

			<!-- OTRO MODAL -->

			<div class="ui basic modal deletedOK">
			  <div class="center header">
			    Entrada Borrada
			  </div>
			  <div class="image content">
			    <div class="description">
			      <p>La entrada se borrará en breve.</p>
			    </div>
			    <div class="ui active loader"></div>
			  </div>
			  <div class="actions">
			    <div class="two ui inverted buttons">
			    <div class="ui ok blue basic inverted button">
			        <i class="checkmark icon"></i>
			        OK
			      </div>
			    </div>
			  </div>
			</div>

			<!--   -->

<script>
$('.chips').material_chip();


  $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });


	$('.message .close')
  .on('click', function() {
    	$(this).closest('.message').transition('fade');
  	});

  	$('#delete').click(function(){
  		$('.ui.basic.modal.delete').modal({
    closable  : true,
    onApprove : function() {
      $(".ui.basic.modal.deletedOK").modal({
      	closable: false,
      	onApprove: function(){
      		$(location).attr('href', '{{ post.get_absolute_url|add:"delete" }}');
      	},
      	onDeny: function(){
      		$(location).attr('href', '{{ post.get_absolute_url|add:"delete" }}');
      	}
      }).modal("show");
    }
  })
  .modal('show')
;
  	});

</script>

{% endblock %}
