{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

		<br>
		<h1 class="center-align">Entradas Recientes</h1>
		<br>
		<div class="divider"></div>
		<br>

	{% for post in posts %}

		<div class="center-align">
			<div class="row">
				<div class="col s12 m12">
					<div class="card hoverable large">
						<div class="card-image">
							<img src="http://www.metalerk.com/static/img/nappa.jpg" class="responsive-img">
							<span class="card-title"><h4><a href='{{ post.get_absolute_url }}' style="color: white;">{{ post.title }}</a></h4></span>
						</div>
						<div class="card-content">
							<p>{% if post.preview|length < 200 %}
							{{ post.preview|linebreaks}}
							{% else %}
							{{ post.preview|linebreaks|truncatechars:100 }}
							{% endif %}</p>
						</div>
						<div class="card-action">
							<a href='{{ post.get_absolute_url }}' class="blue-text">Ver Mas</a>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- <div class="five wide column">

			<div class="ui segment">


			  		<h2 class="ui floated header"><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></h2>
			  		<br>
			  		<br>
					{% if post.content|length < 500 %}
					<blockquote>{{ post.content|linebreaks}}</blockquote>
					<br>
					{% else %}
					<blockquote>{{ post.content|linebreaks|truncatechars:200 }} </blockquote>
					<br>
					{% endif %}
					<a href='{{ post.get_absolute_url }}'>Ver Mas</a>
			</div>

		</div>
		<br>
		  <div class="ui divider"></div>
		<br> -->
	{% endfor %}

	<div class="ui pagination menu">
	  <a class="active item">
	    1
	  </a>
	  <div class="disabled item">
	    ...
	  </div>
	  <a class="item">
	    10
	  </a>
	  <a class="item">
	    11
	  </a>
	  <a class="item">
	    {{ pages }}
	  </a>
</div>

	<div class="ui pagination menu">


    	<span class="step-links">
	        {% if posts.has_previous %}
	            <a href="?page={{ posts.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
	        </span>

	        {% if posts.has_next %}
	            <a href="?page={{ posts.next_page_number }}">next</a>
	        {% endif %}
	   	</span>
	</div>

{% endblock %}
