{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}


{% block content %}


	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}

	<div class="fourteen wide column">

		<div class="ui raised very padded text fluid container segment">

	  	<h2 class="ui header">{{ post.title }}</h2>
	  	
	  	<p>{{ post.content}}</p>
		
		<br>
		<br>

		Created: {{ post.timestamp }}
		
		<br>
		
		Updated: {{ post.updated }}
		<br>
		<br>
		<a href='{{ post.get_absolute_url|add:"edit" }}'><button class="ui inverted blue button">Editar</button></a>

		<br>
		<br>
		<a href="{{ post.get_absolute_url|add:'delete' }}"><a href='{{ post.get_absolute_url|add:"delete" }}'><button class="ui inverted red button">Borrar</button></a></a>
		</div>

	  	</div>
	</div>


{% endblock %}