{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

 {% block content %}

 {% if messages %}

		{% for message in messages %}

		<br>

		<div class="ui negative message">
		  <i class="close icon"></i>
		  <div class="header">
		 	{{ message }}
		  </div>
		  <!-- <p>La entrada se ha creado correctamente</p> -->
		</div>

		{% endfor %}

		{% endif %}

 	<br>

	<h1 class="ui center aligned header">Crear Entrada</h1>

	<form method="POST" action="" class="ui form" enctype="multipart/form-data">

		{% csrf_token %}
		{{ form.as_p }}



	    <button type="submit" class="btn waves-effect waves-light">Crear</button>
	    <button type="reset" class="btn waves-effect waves-light">Cancel</button>

	</form>

	<script>
		$('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
		$(".cancel").click(function(){
			$(location).attr('href', '/posts');
		});
	</script>

{% endblock %}
