{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}
 
 {% block content %}

 {% if messages %}
	
		{% for message in messages %}

		<br>

		<div class="ui negative message">
		  <i class="close icon"></i>
		  <div class="header">
		 	{{ message }}
		  </div>
		  <!-- <p>La entrada se ha creado correctamente</p> -->
		</div>

		{% endfor %}

		{% endif %}

 	<br>

	<h1 class="ui center aligned header">Actualizar Entrada</h1>

	<form method="POST" action="" class="ui form">
		
		{% csrf_token %}
		{{ form.as_p }}
		
	<div class="ui buttons">
	    
	    <button type="submit" class="btn waves-effect waves-light">Actualizar</button>
	    <button type="reset" class="btn waves-effect waves-light" id="cancelSubmit">Cancelar</button>
	    
  	</div>

	</form>

	<script>
		$('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
		$("#cancelSubmit").click(function(){
			$(location).attr('href', '{{ post.get_absolute_url }}')
		});
	</script>

{% endblock %}